bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

frontend/node_modules/
node_modules/
frontend/dist/
frontend/.env

backend/**/bin/
backend/**/obj/

*.log
*.db
*.sqlite
*.sqlite3

.env
.DS_Store
/backend/API/appsettings.json
/backend/API/appsettings.Development.json
/backend/API/wwwroot/uploads/
